
<div class="header-bot">
    <div class="container">
        <div class="col-md-3 header-left">
            <h1>
                <a href="index.html"><img src="asset/images/logo3.jpg"></a>
            </h1>
        </div>
        <div class="col-md-6 header-middle">
         
                <div class="search">
                    <input type="search" id="searchitem"  [(ngModel)]="searchText" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" >
                        
                  <div  class="searchbox">
                     <ul  *ngFor="let i of arr"  >
                        <li *ngFor="let hero of heroes['category'+i]|category: searchText" (click)="gotoDetail(hero)" (keyup.enter)="gotoDetail(hero)"  class="search-result" >
                       <div > <span><img class="searchimg" src="{{hero.url}}" alt=" " /></span>  {{hero.name}}
                       </div>
                        </li>

                    </ul>
                 </div>

                 </div>

              

                <div class="sear-sub">
                    <input type="submit" value=" ">
                </div>
                <div class="clearfix"></div>
          
        </div>
        <div class="col-md-3 header-right footer-bottom">
            <ul>
                <li><a href="#" class="use1" data-toggle="modal" data-target="#myModal4"><span>Login</span></a>

                </li>
                <li>
                    <a class="fb" href="#"></a>
                </li>
                <li>
                    <a class="twi" href="#"></a>
                </li>
                <li>
                    <a class="insta" href="#"></a>
                </li>
                <li>
                    <a class="you" href="#"></a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //header-bot -->
<!-- banner -->
<div class="ban-top">
    <div class="container">
        <div class="top_nav_left">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav menu__list">
                            <li class="active menu__item menu__item--current"><a class="menu__link" routerLink="/dashboard">Home <span class="sr-only">(current)</span></a></li>
                            <li class="dropdown menu__item">
                                <a class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" routerLink="/men">men's wear <span class="caret"></span></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="row">
                                        <div class="col-sm-6 multi-gd-img1 multi-gd-text ">
                                            <a routerLink="/men"><img src="asset/images/woo1.jpg" alt=" " /></a>
                                        </div>
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li><a routerLink="/men">Clothing</a></li>
                                                <li><a routerLink="/men">Wallets</a></li>
                                                <li><a routerLink="/men">Footwear</a></li>
                                                <li><a routerLink="/men">Watches</a></li>
                                                <li><a routerLink="/men">Accessories</a></li>
                                                <li><a routerLink="/men">Bags</a></li>
                                                <li><a routerLink="/men">Caps & Hats</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li><a routerLink="/men">Jewellery</a></li>
                                                <li><a routerLink="/men">Sunglasses</a></li>
                                                <li><a routerLink="/men">Perfumes</a></li>
                                                <li><a routerLink="/men">Beauty</a></li>
                                                <li><a routerLink="/men">Shirts</a></li>
                                                <li><a routerLink="/men">Sunglasses</a></li>
                                                <li><a routerLink="/men">Swimwear</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li class="dropdown menu__item">
                                <a class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" routerLink="/women">women's wear <span class="caret"></span></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="row">
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li><a routerLink="/women">Clothing</a></li>
                                                <li><a routerLink="/women">Wallets</a></li>
                                                <li><a routerLink="/women">Footwear</a></li>
                                                <li><a routerLink="/women">Watches</a></li>
                                                <li><a routerLink="/women">Accessories</a></li>
                                                <li><a routerLink="/women">Bags</a></li>
                                                <li><a routerLink="/women">Caps & Hats</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li><a routerLink="/women">Jewellery</a></li>
                                                <li><a routerLink="/women">Sunglasses</a></li>
                                                <li><a routerLink="/women">Perfumes</a></li>
                                                <li><a routerLink="/women">Beauty</a></li>
                                                <li><a routerLink="/women">Shirts</a></li>
                                                <li><a routerLink="/women">Sunglasses</a></li>
                                                <li><a routerLink="/women">Swimwear</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 multi-gd-img multi-gd-text ">
                                            <a routerLink="/women"><img src="asset/images/woo.jpg" alt=" " /></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li class=" menu__item"><a class="menu__link" routerLink="/electronic">Electronics</a></li>
                            <li class=" menu__item">
                                <a></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="top_nav_right">
            <div class="cart box_1" routerLink="/list">
                <a>
                    <h3>
                        <div class="total">
                            <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
                            <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span>{{cart}}
                            items)
                        </div>

                    </h3>
                </a>


            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //banner-top -->